/* ------------------------------CSS DE PERSONAJES------------------------------- */
  


.header-container-sections-j {
   background-color: transparent;
   padding: 20px;
   margin-bottom: 80px; 
}
  
#header-p {
    font-family: 'runic'; 
    font-size: 3em;
    color: $color-parrafo;
 }
 
 /* Todos los h3 que son los titulos sean iguales */
 .h3-p {
   @extend %h3-secciones;
 }
 
 
 
 #listado-personajes { /* pongo el listado con Flexbox y lo posiciono a la izquierda abajo del header-container */
    font-family: 'runic';
    display: flex;
    font-size: 25px;
    justify-content: start;
    max-width: 80%;
    margin-top: 15px;
    transition: 1.5s;  
 }
 
 #listado-personajes #navegador-p li { /* hago que las listas sean bloques, tengan borde y les doy margen para separarlas entre si */
    margin: 10px 22px;
    display: block;
     }
 
 #navegador-p { /* sigo con flexbox y separo los las listas ul */
    display: flex;
    justify-content: space-between;
 }
 
 #listado-personajes #navegador-p .li-p {  /* las pongo en linea y centradas */
            display: inline-block;
            text-align: center;
            justify-content: center;      
 }
 
 #listado-personajes #navegador-p .desplegable-j { /* con el display none dejo invisibles las il dentro de las ul y con la posición absoluta evito que se desconfiguren los tamaños de las ul */
    display: none;
    position: absolute;

 }
 
 #listado-personajes #navegador-p .li-p:hover .desplegable-j {  /* convierto en bloques los desplegables, con hover digo como se va a comportar cuando ponga el mouse encima, esto es para mostrar los desplegables */
    display: block;
 }



 
 #listado-personajes ul li a { /* Color golden a la letra de todas las listas de personajes */
   color: goldenrod;
   transition: 1.5s;
   display: inline-block;
   text-decoration: none;
 }
 #navegador-p li a:hover { 
    transform: scale(1.2);
 }
 
 /*Le meto una animación para que la letra del menu cambie de color cuando le paso el mouse por encima*/
 #navegador-p li a:hover {
   animation-name: cambiocolor-personajes;
   animation-duration: 1.5s;

   }
 
 @keyframes cambiocolor-personajes {
   from {
      color: goldenrod;
            
   }
  to {
      color: red;
            
  }
 }




 
 /* Centrar las imagenes */
 .img-p {
    display: block;
    margin: auto;
    width: auto; height: 300px;
 }
 
 /* Todos los parrafos iguales */
 .parrafo-p {
    font-family: 'reggae one';
    text-indent: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: $color-parrafo;
      
 }

/* Fondo de pantalla de personajes*/
 .full-body-p {
   background-image:linear-gradient(rgba(0, 0, 0, 0.7),
   rgba(0, 0, 0, 0.7)), url(../imagenes/bg-personajes.jpg); /*Con el linear-gradient le meto una capa transparente negra encima para opacar la imagen de fondo*/
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   
 }